<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item color="dark">
      <ion-label position="floating">Digite o primeiro número</ion-label>
      <ion-input type="number" [(ngModel)]="n1"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="floating">Digite o segundo número</ion-label>
      <ion-input type="number" [(ngModel)]="n2"></ion-input>
    </ion-item><br>

    <ion-button shape="round" expand="full" (click)="somar()" color="success">
      <ion-icon name="add-circle"></ion-icon>
      Somar
    </ion-button>

    <ion-input readonly="true" value="{{res}}"></ion-input>
  </div>
</ion-content>
