<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item color="dark">
      <ion-input inputmode="numeric" placeholder="Digite o primeiro número" type="number" [(ngModel)]="n1"></ion-input>
    </ion-item><br>

    <ion-item color="dark">
      <ion-input inputmode="numeric" placeholder="Digite o segundo número" type="number" [(ngModel)]="n2"></ion-input>
    </ion-item><br>

    <ion-row>
      <ion-col>
        <ion-button color="light" fill="outline" shape="round" (click)="somar()">
          <ion-icon slot="icon-only" src="../assets/icon/sum.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" fill="outline" shape="round" (click)="subtrair()">
          <ion-icon slot="icon-only" src="../assets/icon/subtraction.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" fill="outline" shape="round" (click)="multiplicar()">
          <ion-icon slot="icon-only" src="../assets/icon/multiplication.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" fill="outline" shape="round" (click)="divisao()">
          <ion-icon slot="icon-only" src="../assets/icon/division.svg"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row><br>

    <b><ion-input readonly="true" value="{{res}}"></ion-input></b>
  </div>
</ion-content>
